*{
	box-sizing: border-box;
}

html, body, .wrapper{
	font-family: Verdana,sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	scroll-behavior:smooth;
}

a {
	text-decoration: none;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display:flex;
	flex-direction: column;
}

.navhead {
	position: fixed;
	width: 100%;
	top:0;
	left:0;
	z-index:3;
}

.navhead:before{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 4;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}

.head__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 60px;
}
.head__logo {
	z-index: 6;
	padding:15px 0 0 40px;
}

.head__logo span{
	font-weight: bold;
}

.burger {
	display: none;
}
.header__menu {
}
.header__list{
	display: flex;
	position: relative;
	z-index: 10;
	padding: 15px 0 0 0;
}
.header__list li {
	list-style: none;
}

.header__link {
	color:#000;
	padding: 15px 20px;
}

.header__link:hover{
	background: rgba(0,0,0,.2);
}

@media (max-width: 767px){
	.burger{
		display: block;
		position: relative;
		width:30px;
		height: 20px;
		z-index: 8;
		top:15px;
		right: 20px;
	}

	.burger span{
		position: absolute;
		background: #000;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}

	.burger:before, .burger:after{
		content: "";
		background: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left:0;
		transition: all 0.3s ease 0s;
	}

	.burger:before{
		top:0;
	}

	.burger:after{
		bottom: 0;
	}

	.header__menu {
		position: fixed;
		top:-100%;
		left:0;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: 3;
		padding: 90px 0 0 0;
		transition: all 0.3s ease 0s;
	}
	.header__list{
		display: block;
	}

	.header__list li{
		padding: 0 0 15px 20px;
	}

	.header__menu.active{
		top:0;
	}

	.burger.active:before{
		transform: rotate(45deg);
		top:9px;
	}

	.burger.active:after{
		transform: rotate(135deg);
		bottom: 9px;
	}

	.burger.active span{
		transform: scale(0);
	}
}

.img__architecture {
	width:100%;
}
.img__flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.img__body img{
	width: 100%;
}
.block__text {
	position: absolute;
	align-self: center;
	height:10%;
	z-index: 1;
	color:white;
}
.block__text_black {
	background: rgba(0,0,0, 0.75);
	padding:8px 14px;
	font-weight: bold;
}

@media (max-width: 601px){
	.block__text_white{
		display: none;
	}
	.head__body {
	height: 50px;
}

.block__text_black {
	padding:6px 10px;
}
	.head__logo {
	font-size: 14px;
	padding:15px 0 0 20px;
}

.header__link {
	font-size: 14px;
}

	}


.fs-text{
	font-size: 36px;
	font-family: "Segoe UI",Arial,sans-serif;
}

.space-letter{
	letter-spacing: .2rem;
}

.content {
	padding:70px 0;
	flex:1 1 auto;
	posititon:relative;
}
.project {
	padding:20px 0;
}

#project{
	scroll-margin: 50px;
}

#we{
	scroll-margin: 80px;
}

#contact{
	scroll-margin: 80px;
}

.container {
	margin:0 25px 0;
}
.flex__project-info {
	padding:30px 0 100px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

h2{
	font-size: 24px;
	font-family: "Segoe UI",Arial,sans-serif;
	padding: 0 0 10px 0;
}

#width-img{
	width:100%;
}

.img-house {
	flex:1 1 300px;
	display: flex;
	padding:10px 8px ;
	flex-wrap: wrap;

}

.info__text__in-block
{
	flex:1 1 25%;
	position: absolute;
	background-color: rgba(0,0,0,.7);
	color:white;
	padding:10px 10px;
}

.we {

}
.our__team {
	padding:50px 0 0 0;
}
.flex__our__team {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
}
.photo__team {
	padding: 0 10px 10px 0;
}
.info__team{
	flex:1 1 25%;
	display: flex;
	flex-direction: column;
	padding:0 0 30px 0;
}

	.info__team__last-child{
	flex:0 1 25%;
	display: flex;
	flex-direction: column;
	padding:0 0 30px 0;
	}

	@media (max-width:915px){
		.info__team__last-child{
	flex:1 1 25%;
	}
	}
.title__team {
}
.post__team {
	width: 90%;
	color:gray;
}
.text__team {
	flex:1 1 100px;
	width: 90%;
	padding:10px 0px;
}

.button__contact__team {
	width:90%;
	background: rgba(224,219,219, .5);
	padding:10px 0;
	text-align: center;
}

.button__contact__team a {
	padding: 10px 105px;
	color:rgb(0,0,0)
}

.button__contact__team a:hover {
	background: rgba(216,214,214);
}

.footer {
	flex:1 1 600px;
}
.contact__body {
	margin:20px 0;
}
.contact__title {
	padding:10px 0;
}
.contact__text {
	padding:20px 0;
}
.contact__input input{
	font-size: 18px;
	padding:8px;
	margin:8px 8px 8px 0;
	border:0;
	width: 100%;
	height: 42px;
}

.contact__button {
	margin: 20px 0;
	height: 40px;
	background: black;
	width: 250px;
	text-align: center;
	vertical-align: middle;
	padding: 8px 16px;
}

.contact__button a{
	color:#fff;
	padding: 10px 0;
}