.my-container{
    max-width: 1285px !important;
    position: relative;
}

.slider-review {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 80px;
}


@media (min-width: 1400px) {
    .my-container{
        max-width: 1465px !important;
    }

    .slider-review {
        max-width: 1320px;
    }
}

.swiper-slide {

font-size: 18px;
background: #fff;
display: flex;
flex-direction: column;
justify-content: space-between;
// align-items: center;
height: 421px;
border: 1px solid #2F2B4326;
border-radius: 20px;
}

.swiper-button-next, .swiper-button-prev{
height: 50px;
width: 50px;
top:290px;
border-radius: 100px;
background: #2F2B430A;
}

.swiper-button-next{

  &::after{
  content: "";
  font-family: "";
  background: url("../img/arrow-right.png");
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
}
}

.swiper-button-prev{

&::after{
content: "";
font-family: "";
background: url("../img/arrow-left.png");
width: 14px;
height: 14px;
background-repeat: no-repeat;
}
}

.review-title{
margin-bottom: 30px;
font-size: 32px !important;
}

.slider-body-name{
font-size: 18px;
font-weight: 600;
color: #140A32;
margin-left:75px;
margin-top: 30px;

    .name{
        margin-bottom: 0px;
}
}

.slider-body-text{
width: 90%;
margin-left: 30px;
margin-bottom: 100px;
}

.date{
color: #2F2B4380;
margin-top:0 !important;
margin-bottom: 24px !important;

}

.slider-body-questions{
margin-left: 30px;
}

.questions{
font-size: 14px;
font-weight: 400;
color: #2F2B4380;

&-text{
    color: #33836E !important;
    font-weight: 600 !important;
}
}