*{
	box-sizing: border-box;
}

.main{
	margin-left: auto;
	margin-right: auto;
}

.wrapper{
	max-width: 100%;
}

.main__cakes{
	max-width: 100%;
	min-height: 10%;
	position: absolute;
}

.headers{
	height: 82px;
	position: relative;
	display: flex;
	top:47px;
	flex-direction: row;
	justify-content: space-around;
}

.text{
	color: white;
}

.headers__name{
	margin-left: 105px;
	font-family: "Montserrat", "Medium", sans-serif;
	font-size: 21px;
	font-weight: 500px;
	line-height: 30px;
}

.headers__address{
	width: 200px;
	margin-left: 320px;
	font-family: "Montserrat", "Regular", sans-serif;
	font-size: 12px;
	font-weight: 400px;
	line-height: 18px;
}

.headers__address p{
	margin-left: 25px;
}

.headers__address::before{
	content: '';
	background: url("D:/site's maket/Макет с фигмы/image/icon/metka.png");
	display: inline-block;
	width: 19px;
	height: 19px;
}

.headers_number{
	margin-right: 190px;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 700px;
	line-height: 30.4px;
}

.headers_number::before{
	content: '';
	background: url("D:/site's maket/Макет с фигмы/image/icon/Vector.png");
	display: inline-block;
	width: 19px;
	height: 19px;
}

.headers_number p{
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	font-weight: 400px;
	line-height: 19.5px;
	padding-left:25px;
}

.icon{
	position: relative;
	max-width: 30px;
	max-height: 30px;
	margin-right: 50px;
}

.text-body{
	position: relative;
	top:150px;
	left:130px;
}

.text-title-button button{
	font-family: "Montserrat", sans-serif;
	font-size: 11px;
	font-weight: 400px;
	line-height: 16.5px;
	letter-spacing: 2px;
	background: #F2F6FA;
	border-radius: 5px;
	padding: 10px 18px;
	margin-bottom: 24px;
	border:0;
	color:#2E363E;
;
}

.text-title{
	font-family: "Montserrat", sans-serif;
	font-size: 48px;
	font-weight: bold;
	line-height: 60px;
	margin-bottom: 24px;
}

.text-text{
	margin-bottom: 40px;
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: regular;
	line-height: 34.36px;
}

.button-catalog button{
	border-radius: 8px;
	background: #FED84C;
	border:0;
	padding: 30px 50px;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: medium;
	line-height: 27.36px;
}

.button-catalog p{
	display: inline-block;
	margin-left:20px;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: regular;
	line-height: 24px;
}